@tailwind base;
@tailwind components;
@tailwind utilities; 

.scrolbar-hide::-webkit-scrollbar{
    display: none;
}
.scrolbar-hide{
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.blog-content{
    padding: 36px 0;
}
.blog-content b{
    margin-bottom: 10px;
    font-weight: 600;
}
.blog-content p{
    margin-bottom: 10px;
}
.blog-content h1{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
}
.blog-content h2{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}
.blog-content h3{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}

/* globals.css */

body {
    font-family: 'Roboto', sans-serif; /* Body font */
    line-height: 1.6; /* Improves readability */
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* Heading font */
  }
  
  p {
    margin: 0 0 1.5rem; /* Spacing between paragraphs */
  }
  
  /* Additional styles as needed */
  